body {
    font-family: Arial, sans-serif;
}

h1.text-center {
    margin-top: 20%;
}

form {
    max-width: 600px;
    margin: auto;
}
.result {
    margin-bottom: 20px;
}
.result-title {
    font-size: 20px;
    color: #1a0dab;
}
.result-title a {
    text-decoration: none;
}
.result-title a:hover {
    text-decoration: underline;
}
.result-url {
    color: #006621;
    font-size: 14px;
}
.result-description {
    color: #545454;
    font-size: 14px;
}
.chatbox {
    background-color: #cdc6c5;
    border-radius: 20px;
    height: 700px;
    /* width: 90%; */
    margin-top: 5%;
    margin-left: 20px;
    padding: 3%;
}
#textbox {
    display: inline-block;
    width: 60%;
    /* position: relative; */
    margin-top: auto;
}
#searchButton {
    display: inline-block;
    margin: 10px;
}
.filters {
    width: 100%;
    height: 150px;
}
.author {
    width: 50%;
}
.subject {
    width: 80%;
}
.year {
    width: 90%;
}
.authorLabel{
  margin-top: 3%;
  margin: 2%;
}
.searchFields{
  text-align: left;
  margin-bottom: 3%;
}
